*{
  background-color:#E0E0E0;
}

p{
  color: #33691E;
  font-family: 'Quattrocento', serif;
  font-size: 20px;
}

h1{
  font-family: 'Pacifico', cursive;
  color: #880E4F;
  font-size: 50px;
  margin: 80px 20px 0px 20px;
}

h2{
  width: 1400px;
  font-size: 35px;
  font-family: 'Pacifico', cursive;
  color: #880E4F;
  margin: 60px 0px 10px 0px;
  background-color: #BDBDBD;
  text-align: center;
  padding: 15px;
}

h3{
  font-size: 25px;
  color: #33691E;
  font-family: 'Quattrocento', serif;
  text-align: center;
}

section{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#about{
  margin-left: 200px;
  margin-right: 200px;
}

#merchandise > *{
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

.store{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #33691E;
  font-family: 'Quattrocento', serif;
  margin-left: 30px;
  margin-right: 30px;*/
}

.store > *{
  margin: 5px;
}

button{
  width: 300px;
  heigth: 40px;
  font-size: 30px;
  color: #33691E;
  font-family: 'Quattrocento', serif;
  background-color: #757575;
}

fieldset{
  display:flex;
  flex-direction: colimn;
  text-align: center;
  background-color: #BDBDBD;
}

fieldset > *{
  margin-top: 30px;
  background-color: #BDBDBD;
}

label{
color: #33691E;
font-family: 'Quattrocento', serif;
font-size: 20px;
background-color: #BDBDBD;
margin-left: 20px;
}

table{
  font-family: Verdana;
  font-size: 20px;
  color: #212121;
  margin-top: 50px;
}

a{
  margin-top: 30px;
  font-size: 30px;
}
